*{
	font-family: 'Raleway', sans-serif;
}

.navbar-default{
	background-color: transparent;
	height: 70px;
	border-color: transparent;

}

.hero{
	background-image: url(../img/taxi.jpg);
	background-position: bottom;
	background-size: cover;
	height: 650px;
	margin-top: -20px;

}

.container{
	display: flex;
    flex-direction: column;
    position: absolute;
    overflow: auto;
    background-color: #f7b617 ;
    width: 400px;
    height: 320px;
    top: 150px;
    right: 0px;
    color: white;
    padding: 30px;
}

.container img{
	background-size: cover;
	width: 60px;
	margin-top: -27px;
	margin-left: 85px;
}

.container p{
	margin-top: 15px;
}

.container hr{	
	border: 1px solid white;
	width: 100px;
	margin-left: 15px;
}

.container h6{
	margin-left: 150px;
	margin-top: -30px;
}

#segunda{
	border: 1px solid white;
	width: 100px;
	margin-left: 220px;
	margin-top: -15px;
}

.informacion{
	background-color: #f7b617;
	height: 400px;
}

.info img{
	background-size: cover;
	width: 220px;
	margin-top: 70px;
	margin-left: 80px;

}

.info h3{
	color: white;
	margin-top: 100px;
	margin-left: -150px;
}

.info p{
	color: white;
	margin-left: -150px;
}

.conduce{
	background-image: url(../img/conduce.jpg);
	background-position:bottom;
	background-size: cover;
	height: 480px;
	
}

.containerdos{

	display: flex;
    flex-direction: column;
    position: absolute;
    overflow: auto;
    background-color: transparent;
    rgba: 138, 92, 146;
    width: 400px;
    height: 320px;
    top: 1200px;
    right: 0px;
    color: white;
    padding: 30px;
}

.containerdos button{
	background-color: #f7b617;
}

.info2{
	background-color: #f7b617;
	height: 350px;
}

.tarifas h4{
	color: white;
	padding: 60px;
}

.tarifas p{
	color: white;
	margin-top: -50px;
	margin-left: 60px;
}

.tarifas img{
	margin-left: 60px;
	margin-top: 20px;
}

#origen {
	margin-top: 5px;
	width: 200px;
	background-color: #transparent;
	border: 1px solid white;
}

.info2 button{
	margin-left: 120px;

}

#map{
	width: 50%;
	height: 30vh;
	border: 2px solid white;
	margin-top: -90px;
	
}

.containertres{
	background-color: #2b2b2b ;
	height: 500px;
}

.containertres img{
	margin-top: 50px;
	margin-left: 70px;
}

.containertres hr{
	width: 90%;
}

.containertres li{
	color: white;
	margin-left: 30%;
	padding: 10px;

}

.ultimo li{
	color: white;
	margin-left: 50%;
	margin-top: -60px;
	padding: 2px;
}

.fa-facebook{
	color: white;
	margin-left: 75px;
}

.fa-twitter{
	color: white;
}

.fa-apple{
	color: white;
}

.fa-play{
	color: white;
}

i{
	margin-left: 3px;

}

.play{
	margin-left: 
}

#map{
	margin-left:700px;
	margin-top: -200px;
}

